---
// experiencia.astro
import Layout from "@/layouts/Layout.astro"

import AboutFastScanner from "@/components/AboutFastScanner.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import HeaderPosts from "@/components/HeaderPosts.astro"

---
<!--
  <HeaderPosts/>
  -->


<Layout
title="Alejandro Mejia - Cybersecurity Expert & Go Backend Developer with 5+ Years of Experience"
description="Hire Alejandro Mejia to build secure and scalable web applications. Passionate Cybersecurity Specialist and Content Creator, focused on developing unique and robust solutions."

>
<head>
  
  <meta charset="UTF-8" />
</head>
<br>
<br>

  <main class="px-4">
    
    <SectionContainer class="py-2 md:py-2">
      
     
      <AboutFastScanner/>
    </SectionContainer>
    <SectionContainer class="py-2 md:py-2">
      <h3 class="text-4xl font-bold text-gray-900 dark:text-gray-100 mb-6 border-b-2 border-gray-400 dark:border-gray-500 pb-3">
        Comparing Nmap Command with My Fast Port Scanner
      </h3>
      <img 
        src="https://raw.githubusercontent.com/AlejandroMBJS/Fast-Port-Scanner-CLI/refs/heads/main/scancomparation.jpg" 
        alt="Comparison between Nmap Command and Fast Port Scanner" 
        class="w-3/4 md:w-1/2 h-auto rounded-lg shadow-xl transition-transform duration-300 transform hover:scale-105 mx-auto mt-4 mb-8"
      />
      

    </SectionContainer>
  </div>
  </main>
</Layout>
