---
// experiencia.astro
import Layout from "@/layouts/Layout.astro"

import AboutFastScanner from "@/components/AboutFastScanner.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import HeaderPosts from "@/components/HeaderPosts.astro"

---
<!--
  <HeaderPosts/>
  -->


<Layout
title="Alejandro Mejia - Cybersecurity Expert & Go Backend Developer with 5+ Years of Experience"
description="Hire Alejandro Mejia to build secure and scalable web applications. Passionate Cybersecurity Specialist and Content Creator, focused on developing unique and robust solutions."

>
<head>
  
  <meta charset="UTF-8" />
</head>
<br>
<br>

  <main class="px-4">
    
    <SectionContainer class="py-2 md:py-2">
      
     
      <AboutFastScanner/>
    </SectionContainer>
  </div>
  </main>
</Layout>
