---
// experiencia.astro
import Layout from "@/layouts/Layout.astro"

import AboutFastScanner from "@/components/AboutFastScanner.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import HeaderPosts from "@/components/HeaderPosts.astro"

---
<!--
  <HeaderPosts/>
  -->


<Layout
  title="Porfolio de midudev - Desarrollador y Programador Web con 15 años de experiencia"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
<head>
  
  <meta charset="UTF-8" />
</head>
<br>
<br>

  <main class="px-4">
    
    <SectionContainer class="py-2 md:py-2">
      
     
      <AboutFastScanner/>
    </SectionContainer>
  </div>
  </main>
</Layout>
