---
import Layout from "@/layouts/Layout.astro"

import AboutMe from "@/components/AboutMe.astro"
import ProfileCheck from "@/components/icons/ProfileCheck.astro"
import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
import TitleSection from "@/components/TitleSection.astro"
---

<Layout
  title="Porfolio de midudev - Desarrollador y Programador Web con 15 años de experiencia"
  description="Contrata a midudev para crear tu aplicación web o móvil. Desarrollador Web y Creador de Contenido. Especializado en crear aplicaciones únicas."
>
<head>
  
  <meta charset="UTF-8" />
</head>

  <main class="w-full mt-11">
    <SectionContainer class="py-12 md:py-16">
      <Hero>
      </slot>
    </Hero>
  </main>
</Layout>
