---
import Layout from "@/layouts/Layout.astro"


import SectionContainer from "@/components/SectionContainer.astro"
import Hero from "@/components/Hero.astro"
---

<Layout
title="Alejandro Mejia - Cybersecurity Expert & Go Backend Developer with 5+ Years of Experience"
description="Hire Alejandro Mejia to build secure and scalable web applications. Passionate Cybersecurity Specialist and Content Creator, focused on developing unique and robust solutions."
></Layout>
<head>
  
  <meta charset="UTF-8" />
</head>

  <main class="w-full mt-11">
    <SectionContainer class="py-12 md:py-16">
      <Hero>
      </slot>
    </Hero>
  </main>
</Layout>
