---
import SectionContainer from "./SectionContainer.astro"

 const personalImageAlt = "Alejandro Mejia"
---
<SectionContainer>
  
  <header class="text-white">
    <h1 class="text-4xl font-bold text-center py-8">Blog de Ciberseguridad</h1>
  </header>

  <article class="flex flex-col items-center justify-center gap-8 text-gray-300 bg-gray-800 p-6 rounded-lg shadow-md md:flex-row w-full max-w-4xl">
    <div class="[&>p]:mb-4 [&>p>strong]:text-green-400 dark:[&>p>strong]:text-green-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
      <h2 class="text-3xl font-bold mb-4">About This Blog</h2>
      <p>
        Welcome to my blog! I'm <strong> Alejandro Mejia</strong>, a passionate <strong>Cybersecurity and Go Backend Developer</strong> with over 5 years of experience in building secure and scalable web applications. From the very beginning, my love for technology has driven me to explore and master various aspects of <strong>security</strong> and <strong>software development</strong>.
      </p>
      
      <p>
        In this blog, I will be sharing my personal journey in the fields of cybersecurity and backend development, particularly focusing on **Go**, **Python**, and **Bash**. Whether you're a beginner or an experienced developer, you'll find a variety of tutorials, insights, and best practices on how to create robust tools that can help secure systems and enhance development workflows.
      </p>
      
      <p>
        I'll dive deep into the process of developing custom security tools, automating tasks with **Bash scripting**, and building cloud-native applications using **Go**. You'll also find <strong>step-by-step guides</strong> on how to conduct **vulnerability assessments**, perform **penetration testing**, and secure cloud infrastructures. This blog isn't just technical; I'll share personal stories, development tips, curiosities, and even some tricks to help you streamline your coding process.
      </p>
  
      <p>
        Additionally, you can expect regular content updates featuring new trends in cybersecurity, recommendations on best practices for protecting your digital environments, and tips on improving the security of your web applications. I aim to foster a community of like-minded individuals passionate about making the web a safer place while pushing the boundaries of **backend development**.
      </p>
      
      <p>
        If you're interested in live discussions, I also host regular sessions on **Twitch**, where I go deeper into topics such as cybersecurity, backend development in **Go**, and the use of **Python** for automating tasks and enhancing security protocols. Whether you're looking to level up your programming skills or want to learn more about protecting applications from evolving digital threats, this blog is your go-to resource!
      </p>
    </div>
    
    <img width="100" height="100" src="/Images/profilePic.jpeg" alt="Alejandro Mejia" class="order-1 object-cover w-64 h-80 p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 rounded-2xl bg-black/30 ring-1 ring-green-500/70" style="object-position: 50% 50%">
  </article>
  
  
</SectionContainer>
<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
