---
const personalImageAlt = "Alejandro Mejia"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---
<div class="max-w-4xl mx-auto border-l-2 border-r-2 border-green-500 dark:border-gray-60 px-4 border-opacity-10 w-full">
  <div class="flex flex-col md:flex-row items-start md:items-center gap-6 mb-2">
    <div class="flex-1">
      <h1 class="text-4xl font-extrabold tracking-tight text-gray-900 sm:text-5xl dark:text-white">
        Hey, I'm Alejandro Mejia
      </h1>
      
      <p class="mt-6 text-lg text-gray-700 dark:text-gray-300">
        With over 5 years of experience in the field, I am a 
        <strong class="text-green-700 dark:text-green-500 font-semibold">Cybersecurity and Go Backend Developer</strong> 
        based in Quintana Roo, Mexico 🇲🇽. I specialize in building secure, high-performance web applications and distributed systems, 
        ensuring they are resilient and scalable to meet modern demands. My passion lies in applying rigorous security practices, 
        including <strong class="text-green-700 dark:text-green-500 font-semibold">vulnerability assessments</strong> 
        and <strong class="text-green-700 dark:text-green-500 font-semibold">penetration testing</strong>, 
        to safeguard applications from evolving threats.
      </p>
  
      <p class="mt-4 text-lg text-gray-700 dark:text-gray-300">
        Throughout my career, I've worked extensively with 
        <strong class="text-green-700 dark:text-green-500 font-semibold">Golang</strong>, 
        <strong class="text-green-700 dark:text-green-500 font-semibold">AWS</strong>, 
        <strong class="text-green-700 dark:text-green-500 font-semibold">Docker</strong>, 
        and <strong class="text-green-700 dark:text-green-500 font-semibold">PostgreSQL</strong>, 
        driving the implementation of cloud-native architectures that prioritize security and efficiency. 
        I’m dedicated to staying at the forefront of technology, constantly improving my skill set, and delivering solutions 
        that not only meet but exceed user expectations.
      </p>

      <nav class="flex flex-wrap gap-4 mt-8">
        <SocialPill href="mailto:a.mejiabjs@gmail.com">
          <MailIcon class="w-4 h-4" />
          Contact Me
        </SocialPill>
        <SocialPill href="">
          <LinkedInIcon class="w-4 h-4" />
          LinkedIn
        </SocialPill>
      </nav>
    </div>
    
    <!-- Image on the right, adjustable size -->
    <div class="w-auto h-auto">
      <img
        class="w-150 h-150 md:w-64 md:h-65 rounded-full shadow-lg object-cover"
        src="/profilePic.jpeg"
        alt={personalImageAlt}
      />
    </div>
  </div>
</div>
